[data-sort] {
    cursor: pointer;
}
[data-sort]:after {
    content: '▲▼';
    font-size: .8rem;
    opacity: .5;
    margin-left: .5rem;
}
[data-sort][data-sort-active='asc']:after {
    content: '▲';
    font-size: 1rem;
    opacity: 1;
}
[data-sort][data-sort-active='desc']:after {
    content: '▼';
    font-size: 1rem;
    opacity: 1;
}
